body {
    margin: 0;
    padding: 0;
}

.page-login {
    display: flex;
    flex-direction: row;
    height: 100vh;
    position: relative;
}

.login-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.align-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.page-title{
    font-weight: bold;
    margin-bottom: 30px;
}

.logo {
    width: 201px;
    height: 94px;
    position: absolute;
    top: 20px;
    left: 20px;
}


.button-login {
    width: 300px;
    height: 35px;
    margin-top: 20px;
    border-radius: 5px;
    background: linear-gradient(0deg, #5797E2 0%, #65ACFF 100%);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.img-card {
    flex: 1;
    object-fit: cover;
    height: 100%;
}

.link-register{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.description-link{
    font-size: 12px;
}

.button-link{
    font-size: 12px;
    font-weight: bold;
    color: #192437;
}

.gap{
    display: flex;
    flex-direction: column;
    gap: 5px;
}